*/build/*
*/cmake-build-debug/
*/cmake-build-release/
*/.vscode/.cortex-debug.peripherals.state.json
*/*.DS_Store
*/.DS_Store
*/*.user
*/*.DS_Store
*/.DS_Store
*/.vscode/targets.log
*/.vscode/targets.log
sketch/.vscode/dryrun.log
sketch/.vscode/.cortex-debug.registers.state.json
sketch/.vscode/configurationCache.log
